body {
margin: 0;
overflow: hidden;
}

.startup{
  /* background-color: #cccccc;  */


    background-image: url("images/Startup.jpg");
    background-color: #cccccc; 
    height: 100vh;
    width: 100vw; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.gameScreen{
  /* background-color: #08f5fd; 
  width: 1365px;
  height: 625px; */

    background-image: url("images/GameBackground.jpg");

    background-color: #cccccc; 
    height: 100vh;
    width: 100vw; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
} 
.start-btn {
  font-family: monospace;
  font-size: 50px;

  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  padding-left: 100px;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 40px;
  background-color: greenyellow;
  /* border: 50px solid rgb(134, 128, 190) */
}

.start-btn:hover {
  color: gray;
  cursor: pointer;
  background-color: azure;
}

.hide{
    /* background-color: white; */
    display:none;
}
.wizard{
  background-image: url("images/wizard.png");
  position: absolute;
  background-size: cover;
  
}

.bugs{
  background-image: url("images/bug.png");
  position: absolute;
  background-size: cover;
  
}
.ball{
  position: absolute;
  background-image: url("images/fire-ball.png");
  background-size: cover;

}

#gameOver{
  position: absolute;
  font-family: monospace;
  font-size: 100px;
  top: 30%;
  left: 30%;
}
#gameOver:hover {
  cursor: pointer;
}